@import './mostResto.scss';
@import './detailResto.scss';
@import './Favorite.scss';

$base-color: #faff00;
$second-color: #393a03;
$third-color: #8d8d8d;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: white;
  background-color: #ffffff;
  .skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: $base-color;
    color: black;
    padding: 8px;
    z-index: 100;
    text-decoration: none;
    font-weight: 500;
  }

  .skip-link:focus {
    top: 0;
  }
}

// header & hero & navbar

.hero {
  background-size: 100%;
  transform: scaleX(-1);
  min-height: 380px;
  width: 100%;
  text-align: center;
  background: url('../public/images/heros/hero-image_4.jpg') no-repeat center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  min-height: 625px;
  background-size: cover;

  .hero__inner {
    transform: scaleX(-1);
    height: 100%;

    header {
      height: 80px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .header__inner {
        text-align: center;
        margin: auto 10px;

        .header__title {
          font-size: 26px;
        }
      }
      .container__menu {
        text-align: right;
        margin: auto 10%;

        .header__menu {
          border: none;
          color: white;
          padding: 30px;
          background: none;
          font-size: 26px;
          cursor: pointer;
        }
      }

      .nav {
        margin: 0 auto;
        .nav__list {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          column-gap: 30px;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          .nav__item {
            list-style-type: none;
            text-align: right;
            a {
              padding: 15px;
              font-size: 18px;
              color: #ffffff;
              text-decoration: none;

              &:hover {
                color: $base-color;
              }
            }
          }
        }
      }
    }
  }
  .hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scaleX(-1);

    .hero__title {
      font-size: 36px;
      font-weight: bold;
      margin: 10px 0;
    }
    .hero__tagline {
      font-size: 18px;
      margin: 10px 0;
      line-height: 1.5;
    }

    @media screen and (max-width: 1200px) {
      .hero__tagline {
        font-size: 14px;
      }
    }

    button {
      font-size: 14px;
      font-weight: 500;
      padding: 15px 24px;
      background-color: $base-color;
      border-radius: 15px;
      border: none;
      margin: 10px 0;
      transition: all 0.3s;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }
}

// MAIN

main {
  section {
    color: black;
    .restaurant__head {
      margin: 20px 0;
      text-align: center;

      p {
        font-size: 18px;
        font-style: italic;
        color: $third-color;
      }

      h1 {
        margin: 10px 0;
        font-size: 36px;
        font-weight: bold;
        color: $second-color;
      }
    }
  }
  section {
    .about__us {
      display: grid;
      grid-template-columns: 2fr 2fr 1fr;
      background-color: #fffdef;

      .about__img {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 500px;
          object-fit: cover;
          object-position: center;
        }
      }

      .about__content {
        display: flex;
        align-items: center;
        justify-content: center;

        .container {
          padding: 0 5%;
          .about_us {
            font-size: 18px;
            font-style: italic;
            color: $third-color;
          }
          .about__title {
            font-size: 44px;
            padding: 15px 0;
          }
          .about__desc {
            font-size: 18px;
            font-weight: lighter;
            line-height: 1.3;
          }
        }
      }
    }
  }
}

// FOOTER

footer {
  background-color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid gray;
  .copyright {
    color: black;
    font-size: 14px;
  }
}

// Responsive Query
@media screen and (min-width: 700px) {
  .hero {
    .hero__inner {
      header {
        .container__menu {
          display: none;
        }
        .nav__drawer {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .hero {
    .hero__inner {
      header {
        .nav {
          display: none;
        }
        .nav__drawer {
          z-index: 10;
          background-color: #fff;
          width: 200px;
          position: absolute;

          /* This trasform moves the drawer off canvas. */
          -webkit-transform: translate(-200px, 0);
          transform: translate(-200px, 0);

          /* Optionally, we animate the drawer. */
          transition: transform 0.3s ease;

          .drawer__list {
            .drawer__item {
              padding: 20px;
              display: list-item;
              border-bottom: 1px solid #e0e0e0;
              width: 100%;
              text-align: left;
              a {
                padding: 20px;
                text-decoration: none;
                color: black;
              }
            }
          }
        }
        .open {
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  main {
    section {
      .about__us {
        .about__content {
          .container {
            .about_us {
              font-size: 14px;
            }
            .about__title {
              font-size: 36px;
            }
            .about__desc {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  main {
    section {
      .most-picked,
      .popular,
      .others {
        .item__most,
        .item__popular,
        .item__others {
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .hero {
    .hero__inner {
      .header {
        .nav {
          .nav__list {
            .nav__item {
              a {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }

  main {
    section {
      .most-picked,
      .popular,
      .others {
        .item__most,
        .item__popular,
        .item__others {
          grid-template-columns: repeat(1, 1fr);
          margin-bottom: 50px;
        }
      }
    }
    section {
      .about__us {
        grid-template-columns: 1fr 1fr;
        .about__content {
          .container {
            .about_us {
              font-size: 12px;
            }
            .about__title {
              font-size: 28px;
            }
            .about__desc {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  main {
    section {
      .about__us {
        display: grid;
        grid-template-columns: 1fr;
        background-color: #fffdef;
        .about__content {
          display: flex;
          align-items: center;
          justify-content: center;

          .container {
            padding: 5% 10%;
          }
        }
      }
    }
  }
}
